/* mengatur body secara keseluruhan */
html{
    scroll-behavior: smooth;
}

body{
    background-color:#FFE0E5;
    line-height: 1.6;
    height: 100vh;
}

/* bagian landing page awal */
section{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

section h1{
    margin-left: 10%;
    margin-top: 13%;
    margin-bottom: 0%;
    font-size: 4rem;
}

section h2{
    margin-left: 10%;
    margin-bottom: 0%;
    font-size: 4rem;
}

section h3{
    margin-left: 10%;
    margin-bottom: 0%;
}

section a{
    margin-left: 10%;
    margin-top: 2%;
    font-size: 4rem;
}

section#home{
    background: url(bg1.png) no-repeat center center;
    center center/cover;
}

.button_cont{
    margin-left: 10%;
}

/* bagian about */
#About{
    background-color:#FF6E97;
}

.rounded-lg{
    margin-top: 10%;
    margin-left:35%;
}

.col-lg-4 h1{
    font-style: italic;
    margin-left: 35%;
    margin-top: 30%;
    color: white;
    font-size: 4rem;
}

.col-lg-6 p{
    color: white;
    margin-top: 38%;
    font-size: 1.5rem;
    margin-bottom: 25%;
}

h3.add-label{
    display:none;
} 

/* bagian experience */
#Experience{
    background-color: #FFB7DE;
}


.AllExperience{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

.contentexperience{
    margin-top: 2%;
    margin-left: 12%;
}
.AllExperience h1{
    margin-left: 12%;
    font-style: italic;
    font-size: 4rem;
    margin-top: 10%;
}

.Experience1:hover h3.align{
    display:none;
   }
.Experience1:hover h3.add-label{
    display:inline;
   }

.Experience2:hover h3.align{
    display:none;
}
.Experience2:hover h3.add-label{
    display:inline;
}

.Experience3:hover h3.align{
    display:none;
}
.Experience3:hover h3.add-label{
    display:inline;
}

.Experience4:hover h3.align{
    display:none;
}
.Experience4:hover h3.add-label{
    display:inline;
}

/* bagian education */
#Education{
    background-color: #FF2865;
}


.AllEducation{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

.contenteducation{
    margin-top: 2%;
    margin-left: 12%;
    color: white;
}
.AllEducation h1{
    margin-left: 12%;
    font-style: italic;
    font-size: 4rem;
    margin-top: 10%;
    color: white;
}

.Education1:hover h3.align{
    display:none;
}
.Education1:hover h3.add-label{
    display:inline;
}

/* bagian skills */
#Skills{
    background-color: #FFE0E5;
}


.Skills{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

.contentskills{
    margin-top: 2%;
    margin-left: 12%;
    color: black;
}

.SkillsLanguages h5{
    margin-top: 10%;
}

.Skills h1{
    margin-left: 12%;
    font-style: italic;
    font-size: 4rem;
    margin-top: 10%;
    color: black;
}

.SkillsOthers h5{
    margin-top: 10%;
}

/* bagian mengatur navigation bar paling atas */
.navbar{
    background: #FFAAB8;
}

.logo{
    float: left;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    overflow-x: hidden;
    z-index: 5;
    transition: all 0.5s;
}

.overlay__content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a{
    padding: 10px;
    color: #ccc;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

.overlay a:hover{
    color: #FF2865;
}

.overlay .closeButton{
    position: absolute;
    top: 70px;
    right:50px;
    font-size: 40px;
}

/* bagian contact.html */
section#contact{
    margin-top:1%;
    margin-left: 2%;
    background: url(contact1.png) no-repeat center center;
    center center/cover;
}

#contact h2{
    font-size: 3.5rem;
    margin-top: 3%;
    margin-left: 12%;

}

#contact h3{
    margin-top: 5%;
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-left: 12%;

}
 /* mengatur button email, linkedin, instagram pada contact.html */
.Email {
    margin-top: 5%;
    font-size: 1rem;
    width: 70%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF6E97;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.Email:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.LinkedIn {
    margin-top: 5%;
    font-size: 1rem;
    width: 70%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF6E97;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.LinkedIn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.Instagram {
    margin-top: 5%;
    font-size: 1rem;
    width: 70%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF6E97;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.Instagram:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}